backup.bat
push.bat
pull.bat

*.exe
*.lnk
*.psd
Properties/PublishProfiles/FolderProfile.pubxml.user
Temp
temp
Obj
obj
Bin
bin
Logs
logs
.vs
Desktop.ini
DLLInjector/GreenLuma.dll
DLLInjector/GreenLuma32.dll
*.pubxml.user
CLAUDE.md
*.tmp
