backup.bat
push.bat

*.exe
*.lnk
*.psd
Properties/PublishProfiles/FolderProfile.pubxml.user
Temp
temp
Obj
obj
Bin
bin
Logs
logs
.vs
Desktop.ini
DLLInjector/GreenLuma.dll
DLLInjector/GreenLuma2SteamFamilies.dll
*.pubxml.user
CLAUD.md